Repository twbs/icons, pull requests merged in 2020-12, with the labels that each got.

#504 Clarify IE/ Edge Legacy support
  docs/content/_index.md
Labels: docs

#518 Add handful of social icons
  bootstrap-icons.svg
  docs/content/icons/facebook.md
  docs/content/icons/github.md
  docs/content/icons/google.md
  docs/content/icons/instagram.md
  docs/content/icons/linkedin.md
  docs/content/icons/slack.md
  docs/content/icons/twitch.md
  docs/content/icons/twitter.md
  icons/facebook.svg
  icons/github.svg
  icons/google.svg
  icons/instagram.svg
  icons/linkedin.svg
  icons/slack.svg
  icons/twitch.svg
  icons/twitter.svg
Labels: enhancement

#515 Use fantasticon to generate web fonts
  .fantasticonrc.js
  config.yml
  docs/assets/scss/docs.scss
  docs/content/_index.md
  font/bootstrap-icons.css
  font/bootstrap-icons.json
  font/fonts/bootstrap-icons.woff
  font/fonts/bootstrap-icons.woff2
  font/index.html
  package-lock.json
  package.json
  src/css.hbs
  src/html.hbs
Labels: enhancement

#529 Add missing social icons
  bootstrap-icons.svg
  docs/content/icons/discord.md
  docs/content/icons/youtube.md
  font/bootstrap-icons.css
  font/bootstrap-icons.json
  font/fonts/bootstrap-icons.woff
  font/fonts/bootstrap-icons.woff2
  font/index.html
  icons/discord.svg
  icons/youtube.svg
Labels: enhancement

#535 Regenerate package-lock.json.
  package-lock.json
Labels: dependencies

#528 More docs design changes
  docs/assets/scss/_ads.scss
  docs/assets/scss/_clipboard-js.scss
  docs/assets/scss/_navbar.scss
  docs/assets/scss/_syntax.scss
  docs/assets/scss/_variables.scss
  docs/assets/scss/docs.scss
  docs/content/_index.md
  docs/layouts/icons/single.html
  docs/layouts/partials/footer.html
  docs/layouts/partials/hero.html
  docs/layouts/partials/navbar.html
  docs/static/assets/css/bootstrap.min.css
  docs/static/assets/img/icons-hero.png
  docs/static/assets/img/icons-hero@2x.png
Labels: docs

#583 Update to latest Bootstrap CSS, JS, and docs HTML
  docs/assets/scss/docs.scss
  docs/layouts/partials/hero.html
  docs/layouts/partials/navbar.html
  docs/layouts/partials/scripts.html
  docs/static/assets/css/bootstrap.min.css
  docs/static/assets/js/bootstrap.min.js
Labels: docs

#597 Async load bootstrap.min.js
  docs/layouts/partials/scripts.html
Labels: docs, enhancement

#615 Regenerate package-lock.json
  package-lock.json
Labels: dependencies

#584 build-svgs: add singular support in the message
  build/build-svgs.js
Labels: enhancement

#593 Add missing docs redirects
  docs/content/icons/patch-check-fill.md
  docs/content/icons/patch-exclamation-fill.md
  docs/content/icons/patch-minus-fill.md
  docs/content/icons/patch-plus-fill.md
  docs/content/icons/patch-question-fill.md
  docs/layouts/alias.html
Labels: docs

#603 build-svgs.js: switch to async/await and tweaks
  build/build-svgs.js
Labels: enhancement

#626 Flatten package-lock.json
  package-lock.json
Labels: dependencies

#620 scripts: load bootstrap.min.js in all templates
  docs/layouts/partials/scripts.html
Labels: docs

#623 Update list.js to v2.3.0.
  docs/static/assets/js/list.min.js
Labels: dependencies, docs, enhancement

#627 package.json: ignore .DS_Store files
  package.json
Labels: enhancement

#630 Tweak layouts/icons/single.html
  docs/layouts/icons/single.html
  docs/layouts/partials/font-snippet.html
Labels: docs, enhancement

#632 docs: disable empty links
  docs/assets/js/application.js
Labels: docs, enhancement
