Repository twbs/icons, pull requests merged in 2021-02, with the labels that each got.

#733 docs: fix breadcrumb markup
  docs/layouts/icons/single.html
Labels: docs

#708 package.json: update `npm-run-all` flags
  package.json
Labels: enhancement

#703 Update devDependencies and regenerate package-lock.json
  package-lock.json
  package.json
Labels: dependencies

#730 Move icons to assets/icons
  config.yml
  docs/layouts/icons/single.html
Labels: docs

#734 docs: fix titles
  docs/content/icons/exclamation-circle-fill.md
  docs/content/icons/exclamation-circle.md
  docs/content/icons/exclamation-octagon-fill.md
  docs/content/icons/exclamation-octagon.md
  docs/content/icons/exclamation-square-fill.md
  docs/content/icons/exclamation-square.md
  docs/content/icons/exclamation-triangle-fill.md
  docs/content/icons/exclamation-triangle.md
Labels: bug, docs

#690 Accessibility tweaks/additions
  docs/assets/scss/docs.scss
  docs/content/_index.md
  docs/layouts/icons/single.html
  docs/layouts/partials/hero.html
Labels: docs, enhancement

#737 Delete list.html
  docs/layouts/icons/list.html
Labels: docs

#735 Minor meta normalization
  docs/content/icons/at.md
  docs/content/icons/bookmark-check-fill.md
  docs/content/icons/bookmark-check.md
  docs/content/icons/bookmark-dash-fill.md
  docs/content/icons/bookmark-dash.md
  docs/content/icons/bookmark-fill.md
  docs/content/icons/bookmark-heart-fill.md
  docs/content/icons/bookmark-heart.md
  docs/content/icons/bookmark-plus-fill.md
  docs/content/icons/bookmark-plus.md
  docs/content/icons/bookmark-star-fill.md
  docs/content/icons/bookmark-star.md
  docs/content/icons/bookmark-x-fill.md
  docs/content/icons/bookmark-x.md
  docs/content/icons/bookmark.md
  docs/content/icons/bookmarks-fill.md
  docs/content/icons/bookmarks.md
  docs/content/icons/clock-fill.md
  docs/content/icons/clock-history.md
  docs/content/icons/clock.md
  docs/content/icons/cpu-fill.md
  docs/content/icons/cpu.md
  docs/content/icons/download.md
  docs/content/icons/kanban-fill.md
  docs/content/icons/kanban.md
  docs/content/icons/lightning-fill.md
  docs/content/icons/lightning.md
  docs/content/icons/puzzle-fill.md
  docs/content/icons/puzzle.md
  docs/content/icons/upload.md
Labels: docs

#729 icons.html: query the icons pages instead of the filesystem
  docs/layouts/partials/icons.html
Labels: docs

#701 Alignment and docs tweaks
  build/font/css.hbs
  docs/assets/scss/docs.scss
  docs/content/_index.md
  docs/layouts/icons/single.html
  docs/static/assets/css/bootstrap.min.css
  font/bootstrap-icons.css
Labels: docs

#716 Add tags to a couple of icons
  docs/content/icons/arrow-90deg-up.md
  docs/content/icons/arrow-clockwise.md
  docs/content/icons/arrow-counterclockwise.md
  docs/content/icons/arrow-repeat.md
  docs/content/icons/chevron-contract.md
  docs/content/icons/cloud-upload-fill.md
  docs/content/icons/earbuds.md
  docs/content/icons/phone-vibrate-fill.md
  docs/content/icons/record2.md
  docs/content/icons/sort-alpha-down.md
Labels: docs

#751 Update Bootstrap to v5.0.0-beta2
  docs/static/assets/css/bootstrap.min.css
  docs/static/assets/js/bootstrap.min.js
Labels: dependencies, docs

#752 Revert "Delete list.html"
  docs/layouts/icons/list.html
Labels: docs, skip-changelog

#750 docs: take categories into consideration too
  docs/layouts/icons/single.html
  docs/layouts/partials/icons.html
  docs/layouts/partials/scripts.html
Labels: docs

#743 docs: refactor layouts
  config.yml
  docs/layouts/_default/home.html
  docs/layouts/_default/list.html
  docs/layouts/_default/single.html
  docs/layouts/icons/single.html
  docs/layouts/partials/home/hero.html
Labels: docs

#779 Regenerate package-lock.json
  package-lock.json
Labels: dependencies

#781 Fixed teeny typo (who -> how)
  docs/content/_index.md
Labels: docs
