Repository twbs/icons, pull requests merged in 2021-12, with the labels that each got.

#1093 Move btn-group to same row as button
  docs/layouts/icons/single.html
Labels: docs

#1120 Disable enter key on icon search
  docs/assets/js/application.js
Labels: docs

#1124 Release v1.7.2
  config.yml
  docs/static/assets/img/bootstrap-icons-social.png
  package-lock.json
  package.json
Labels: release

#1153 Update devDependencies
  config.yml
  package-lock.json
  package.json
Labels: dependencies
