Repository twbs/icons, pull requests merged in 2021-08, with the labels that each got.

#963 Update svg-sprite to v1.5.1
  package-lock.json
  package.json
Labels: dependencies

#964 Regenerate package-lock.json
  package-lock.json
Labels: dependencies

#969 Rename category Social to Brand
  docs/content/icons/discord.md
  docs/content/icons/facebook.md
  docs/content/icons/github.md
  docs/content/icons/google.md
  docs/content/icons/instagram.md
  docs/content/icons/linkedin.md
  docs/content/icons/mastodon.md
  docs/content/icons/messenger.md
  docs/content/icons/reddit.md
  docs/content/icons/skype.md
  docs/content/icons/slack.md
  docs/content/icons/telegram.md
  docs/content/icons/twitch.md
  docs/content/icons/twitter.md
  docs/content/icons/whatsapp.md
  docs/content/icons/youtube.md
Labels: docs

#975 Add Apple, Windows, and Microsoft
  bootstrap-icons.svg
  docs/content/icons/apple.md
  docs/content/icons/microsoft.md
  docs/content/icons/windows.md
  font/bootstrap-icons.css
  font/bootstrap-icons.json
  font/fonts/bootstrap-icons.woff
  font/fonts/bootstrap-icons.woff2
  font/index.html
  icons/apple.svg
  icons/microsoft.svg
  icons/windows.svg
Labels: icon-request

#976 Fix miscellaneous broken icons
  bootstrap-icons.svg
  font/bootstrap-icons.css
  font/fonts/bootstrap-icons.woff
  font/fonts/bootstrap-icons.woff2
  icons/cloud-minus.svg
  icons/coin.svg
  icons/textarea-resize.svg
Labels: bug

#977 Add more brand icons
  bootstrap-icons.svg
  docs/content/icons/behance.md
  docs/content/icons/dribbble.md
  docs/content/icons/line.md
  docs/content/icons/medium.md
  docs/content/icons/paypal.md
  docs/content/icons/pinterest.md
  docs/content/icons/signal.md
  docs/content/icons/snapchat.md
  docs/content/icons/spotify.md
  docs/content/icons/stack-overflow.md
  docs/content/icons/strava.md
  docs/content/icons/vimeo.md
  docs/content/icons/wordpress.md
  font/bootstrap-icons.css
  font/bootstrap-icons.json
  font/fonts/bootstrap-icons.woff
  font/fonts/bootstrap-icons.woff2
  font/index.html
  icons/behance.svg
  icons/dribbble.svg
  icons/line.svg
  icons/medium.svg
  icons/paypal.svg
  icons/pinterest.svg
  icons/signal.svg
  icons/snapchat.svg
  icons/spotify.svg
  icons/stack-overflow.svg
  icons/strava.svg
  icons/vimeo.svg
  icons/wordpress.svg
Labels: icon-request
