Repository twbs/icons, pull requests merged in 2021-03, with the labels that each got.

#803 Regenerate package-lock.json
  package-lock.json
  package.json
Labels: dependencies

#816 Add note about `<use>` in Chrome
  docs/content/_index.md
Labels: docs

#819 Regenerate package-lock.json
  package-lock.json
Labels: dependencies

#818 Update Bootstrap to v5.0.0-beta3
  docs/static/assets/css/bootstrap.min.css
  docs/static/assets/js/bootstrap.min.js
Labels: docs

#736 docs: link to the GitHub release
  docs/layouts/partials/footer.html
  docs/layouts/partials/home/hero.html
Labels: docs

#817 docs: fix font param
  docs/assets/scss/docs.scss
Labels: docs

#823 Consolidate .bi styles in our docs
  docs/assets/scss/docs.scss
Labels: docs

#828 Update examples
  docs/content/_index.md
Labels: docs

#829 Fix single view icon examples
  docs/assets/scss/docs.scss
  docs/layouts/icons/single.html
Labels: docs

#830 Prep for v1.4.1
  README.md
  docs/static/assets/img/bootstrap-icons-social.png
  package-lock.json
  package.json
Labels: release
