Repository twbs/icons, pull requests merged in 2022-12, with the labels that each got.

#1543 Update devDependencies
  package-lock.json
  package.json
Labels: dependencies

#1518 Docs: load all JS files from node_modules
  config.yml
  docs/assets/js/application.js
  docs/assets/js/list.js
  docs/assets/js/vendor/bootstrap.min.js
  docs/assets/js/vendor/clipboard.min.js
  docs/layouts/partials/scripts.html
  docs/static/assets/js/list.min.js
  package-lock.json
  package.json
Labels: docs

#824 Drop SVG sprite for font on docs homepage
  docs/assets/js/application.js
  docs/content/_index.md
  docs/content/font.md
  docs/content/sprite.md
  docs/layouts/_default/sprite.html
  docs/layouts/partials/home/hero.html
  docs/layouts/partials/icons.html
  docs/layouts/partials/navbar.html
  docs/layouts/partials/scripts.html
Labels: docs, no-squash

#1545 Ship v1.10.3
  build/font/scss.hbs
  config.yml
  package-lock.json
  package.json
Labels: release
