Repository twbs/icons, pull requests merged in 2022-08, with the labels that each got.

#1389 update the count from 1,600 to 1,800
  docs/layouts/partials/home/hero.html
Labels: docs

#1387 Add "aircraft" tag to airplane icons
  docs/content/icons/airplane-engines-fill.md
  docs/content/icons/airplane-engines.md
  docs/content/icons/airplane-fill.md
  docs/content/icons/airplane.md
Labels: docs

#1379 Update Bootstrap to stable release
  package-lock.json
Labels: docs, dependencies

#706 Generate font page with Hugo
  .fantasticonrc.js
  build/font/html.hbs
  docs/content/font.md
  docs/layouts/_default/font.html
  docs/layouts/_default/home.html
  docs/layouts/partials/home/hero.html
  docs/layouts/partials/icons.html
  docs/layouts/partials/scripts.html
  docs/layouts/partials/stylesheet.html
  font/index.html
Labels: docs, enhancement

#1403 adding remove tag to delete icons
  docs/content/icons/trash-fill.md
  docs/content/icons/trash.md
  docs/content/icons/trash2-fill.md
  docs/content/icons/trash2.md
  docs/content/icons/trash3-fill.md
  docs/content/icons/trash3.md
  docs/content/icons/x-circle-fill.md
  docs/content/icons/x-circle.md
  docs/content/icons/x-lg.md
  docs/content/icons/x-octagon-fill.md
  docs/content/icons/x-octagon.md
  docs/content/icons/x-square-fill.md
  docs/content/icons/x-square.md
  docs/content/icons/x.md
Labels: docs
