Repository twbs/icons, pull requests merged in 2022-01, with the labels that each got.

#1172 add undo/redo tags to clockwise arrows
  docs/content/icons/arrow-clockwise.md
  docs/content/icons/arrow-counterclockwise.md
Labels: docs

#1152 extend accessibility section
  docs/content/_index.md
Labels: docs

#1146 Add default paths for CSS and SCSS
  package.json
Labels: enhancement

#1149 Document code point on icon page
  docs/layouts/icons/single.html
Labels: docs, enhancement

#1177 Update devDependencies
  package-lock.json
  package.json
Labels: dependencies

#759 docs: move font to assets
  config.yml
  docs/layouts/partials/stylesheet.html
Labels: docs

#1184 Update devDependencies
  package-lock.json
  package.json
Labels: dependencies

#1183 Release v1.8.0
  README.md
  config.yml
  docs/static/assets/img/bootstrap-icons-social.png
  package-lock.json
  package.json
Labels: release
