Repository twbs/icons, pull requests merged in 2022-11, with the labels that each got.

#1485 v1.10.0 prep
  README.md
  config.yml
  docs/static/assets/img/bootstrap-icons-social.png
  package-lock.json
  package.json
Labels: release

#1490 Update devDependencies
  package-lock.json
  package.json
Labels: dependencies

#1515 docs: stop including Bootstrap JS twice
  docs/layouts/partials/scripts.html
Labels: docs

#1517 docs: remove the unused static/assets/css/bootstrap.min.css
  docs/static/assets/css/bootstrap.min.css
  package-lock.json
  package.json
Labels: docs

#1519 Docs: remove Slack
  config.yml
  docs/layouts/partials/icons/slack.svg
  docs/layouts/partials/navbar.html
Labels: docs
