Repository twbs/icons, pull requests merged in 2023-04, with the labels that each got.

#1658 Add some tags to multiple icons
  docs/content/icons/arrows-angle-contract.md
  docs/content/icons/arrows-angle-expand.md
  docs/content/icons/broadcast-pin.md
  docs/content/icons/file-earmark-fill.md
  docs/content/icons/file-earmark.md
  docs/content/icons/file-fill.md
  docs/content/icons/file.md
  docs/content/icons/mic-fill.md
  docs/content/icons/mic.md
  docs/content/icons/people-fill.md
  docs/content/icons/people.md
  docs/content/icons/person-add.md
  docs/content/icons/person-badge-fill.md
  docs/content/icons/person-badge.md
  docs/content/icons/person-bounding-box.md
  docs/content/icons/person-check-fill.md
  docs/content/icons/person-check.md
  docs/content/icons/person-circle.md
  docs/content/icons/person-dash-fill.md
  docs/content/icons/person-dash.md
  docs/content/icons/person-down.md
  docs/content/icons/person-exclamation.md
  docs/content/icons/person-fill-add.md
  docs/content/icons/person-fill-check.md
  docs/content/icons/person-fill-dash.md
  docs/content/icons/person-fill-down.md
  docs/content/icons/person-fill-exclamation.md
  docs/content/icons/person-fill-gear.md
  docs/content/icons/person-fill-lock.md
  docs/content/icons/person-fill-slash.md
  docs/content/icons/person-fill-up.md
  docs/content/icons/person-fill-x.md
  docs/content/icons/person-fill.md
  docs/content/icons/person-gear.md
  docs/content/icons/person-heart.md
  docs/content/icons/person-hearts.md
  docs/content/icons/person-lines-fill.md
  docs/content/icons/person-lock.md
  docs/content/icons/person-plus-fill.md
  docs/content/icons/person-plus.md
  docs/content/icons/person-rolodex.md
  docs/content/icons/person-slash.md
  docs/content/icons/person-square.md
  docs/content/icons/person-up.md
  docs/content/icons/person-x-fill.md
  docs/content/icons/person-x.md
  docs/content/icons/person.md
Labels: docs, squash

#1679 Update bootstrap to v5.3.0-alpha3
  package-lock.json
  package.json
Labels: docs

#1647 Update font SCSS template to use a loop
  build/font/scss.hbs
Labels: build

#1681 package.json: add a few more keywords
  package.json
Labels: meta

#1643 Release v1.10.4
  bootstrap-icons.svg
  config.yml
  font/bootstrap-icons.css
  font/bootstrap-icons.json
  font/bootstrap-icons.scss
  font/fonts/bootstrap-icons.woff
  font/fonts/bootstrap-icons.woff2
  package-lock.json
  package.json
Labels: release

#1682 Update check-icons.js
  build/check-icons.js
Labels: skip-changelog, build

#1683 package.json: add funding information
  package.json
Labels: meta

#1686 docs: build JS with esbuild
  .eslintrc.json
  config.yml
  docs/assets/js/application.js
  docs/assets/js/color-modes.js
  docs/assets/js/search.js
  docs/layouts/partials/scripts.html
Labels: docs

#1688 docs: reword CDN section
  docs/content/_index.md
Labels: docs

#1663 build: switch to modules
  .eslintrc.json
  build/build-pages.mjs
  build/build-svgs.mjs
  build/check-icons.mjs
  build/vnu-jar.mjs
  package.json
  svgo.config.mjs
Labels: build

#1694 Add a script to bump the version
  build/bump-version.js
  build/font/css.hbs
  build/font/scss.hbs
  package.json
Labels: build, squash

#1706 Release v1.10.5
  build/font/css.hbs
  build/font/scss.hbs
  config.yml
  font/bootstrap-icons.css
  font/bootstrap-icons.min.css
  font/bootstrap-icons.scss
  package-lock.json
  package.json
Labels: skip-changelog, release
