Repository twbs/icons, pull requests merged in 2023-03, with the labels that each got.

#1614 Update svg-sprite to v3.0.0-aplha2 and regenerate package-lock.json
  package-lock.json
  package.json
Labels: dependencies

#1613 Indent font scss
  build/font/scss.hbs
  font/bootstrap-icons.scss
Labels: build

#1615 Update svg-sprite to v3.0.0-beta1
  package-lock.json
  package.json
Labels: dependencies

#1618 Docs: move color-modes to /assets/js
  docs/layouts/partials/head.html
Labels: docs

#1619 Backport color-modes.js from upstream
  docs/assets/js/color-modes.js
Labels: docs

#1621 Update hugo-bin to v0.100.0
  package-lock.json
  package.json
Labels: dependencies

#1622 Switch fantasticon to @twbs/fantasticon
  package-lock.json
  package.json
Labels: dependencies

#1561 Fix icons release and repo links
  config.yml
  docs/layouts/partials/home/hero.html
Labels: docs

#1628 Fix theme toggle JavaScript and A11y
  docs/assets/js/color-modes.js
  docs/assets/scss/_navbar.scss
  docs/assets/scss/docs.scss
  docs/layouts/partials/navbar.html
Labels: docs

#1632 Remove unused Hugo partials
  docs/layouts/partials/icons/bootstrap-logo-solid.svg
  docs/layouts/partials/icons/hamburger.svg
  package.json
Labels: docs

#1633 Update vnu-jar.js from upstream
  build/vnu-jar.js
Labels: build

#1637 sprite.html: fix wrong breadcrumb
  docs/layouts/_default/sprite.html
Labels: docs

#1521 Remove non-existent icons from font
  font/bootstrap-icons.json
Labels: build

#1638 Add missing tags and categories
  docs/content/icons/alexa.md
  docs/content/icons/boxes.md
  docs/content/icons/chevron-expand.md
  docs/content/icons/explicit-fill.md
  docs/content/icons/explicit.md
  docs/content/icons/filetype-ppt.md
  docs/content/icons/filetype-pptx.md
  docs/content/icons/filetype-xls.md
  docs/content/icons/filetype-xlsx.md
  docs/content/icons/pass-fill.md
  docs/content/icons/pass.md
  docs/content/icons/patch-minus-fill.md
  docs/content/icons/patch-minus.md
  docs/content/icons/patch-plus-fill.md
  docs/content/icons/patch-plus.md
  docs/content/icons/patch-question-fill.md
  docs/content/icons/patch-question.md
  docs/content/icons/scooter.md
  docs/content/icons/sina-weibo.md
  docs/content/icons/tencent-qq.md
  docs/content/icons/tiktok.md
  docs/content/icons/usb-plug-fill.md
  docs/content/icons/usb-plug.md
  docs/content/icons/usb-symbol.md
  docs/content/icons/usb.md
  docs/content/icons/vinyl.md
  docs/content/icons/wikipedia.md
Labels: docs

#1636 font: add license header
  LICENSE.md
  build/font/css.hbs
  build/font/scss.hbs
Labels: build

#1566 Fix sass quoted string interpolation for hugo 0.110.0
  build/font/scss.hbs
Labels: bug, build

#1644 Fix spacing and sizing of examples
  docs/layouts/icons/single.html
Labels: docs

#1645 Fixes three icon font rendering issues
  icons/folder-plus.svg
  icons/postcard-heart-fill.svg
  icons/trash.svg
Labels: bug

#1648 package.json: specify `q` for zip
  package.json
Labels: build

#1649 Tweak README.md
  README.md
Labels: docs

#1652 docs: specify `searchDelay: 250` for list.js
  docs/assets/js/list.js
Labels: docs

#731 docs: filter url search query
  docs/assets/js/list.js
Labels: docs, enhancement

#1653 docs: change search function from list.js to fuse.js
  config.yml
  docs/assets/js/list.js
  docs/assets/js/search.js
  docs/assets/js/vendor/list.js
  docs/layouts/partials/icons.html
  docs/layouts/partials/scripts.html
  package-lock.json
  package.json
Labels: docs, enhancement

#1655 config.yml: mount bootstrap.bundle.min.js in static folder
  config.yml
  docs/layouts/partials/scripts.html
Labels: docs

#1656 Update SVGO config
  svg-sprite.json
  svgo.config.js
Labels: build

#1657 check font json for differences with svgs
  build/check-icons.js
  package.json
Labels: build

#1660 Update check-icons.js
  build/check-icons.js
Labels: build

#1661 docs: use bootstrap.svg from the `/assets/icons` dir
  docs/content/_index.md
  docs/static/assets/img/bootstrap.svg
Labels: docs

#1662 package.json: update `icons-zip` script to remove existent zip files first
  package.json
Labels: build
